    {{!-- <div class="resultsContainer"> --}}
      {{!-- <p id="searchResults" class="search-results"></p> --}}
      {{!-- <p id="searchResults" class="search-results">{{ id }}</p> --}}
      {{!-- <p id="searchResults" class="search-results">{{ camp.name }}</p> --}}
      <p id="searchResults" class="search-results">{{ id }}) {{ name }}</p>
      {{!-- <p id="searchResults" class="search-results">{{ id }} {{ name }}</p> --}}
    {{!-- </div> --}}