
{{!-- SECTION: USER CAMPS PAGE --}}
<style>
    .star {
        visibility: hidden;
        font-size: 24px;
        color: gold;
        cursor: pointer;

    }

    .star:before {
        content: "\2606";
        position: relative;
        left: 25px;
        visibility: visible;
    }

    .star:checked:before {
        content: "\2605";
        position: relative;
        left: 25px;
    }

    #favStarEl {
        float: right;
        font-size: 12px;
    }
</style>

{{#each campData as |data|}}

<div id="campsite-header" class="row">
    <h3>
        <span id="camp-name">{{name}}</span>
        <div id="favStarEl">
            {{!-- FAVORITES BUTTON --}}
            <input id="favStar" class="star" type="checkbox" title="favStar"><BR></BR>
            <span> <i>Add to Favorites</i></span>
        </div>
    </h3>
=======
{{#each campData as |data|}}

<div id="campsite-header" class="row">
    <h3>{{ nameState }}</h3>

</div>
<div class="row">

    {{!MAIN PHOTO}}

    <img id="campsite-photo" src="{{images[0].url}}" alt="{{images[0].altText}}">
</div>
<div class="row">
    <p id="campsite-desc">{{description}}</p>

    <img id="campsite-photo" src="{{ images.[0].url }}" alt="{{ images.[0].altText }}">
</div>
<div class="row">
    <h3 class="campstie-name"> {{ name }} </h3>
    <p id="campsite-desc">{{ description }}</p>

</div>
<div class="row">
    <div class="col">
        {{!RESERVATIONS}}

        <p>Reservation Info: {{reservationInfo}}</p>
        <p>Make a Reservation: <a href="{{reservationUrl}}" target="_blank">{{reservationUrl}}</p>
        <br>
        <br>
        {{!REGULATIONS}}
        <p>Regulations: {{regulationsOverview}}<br>
            <a href="{{regulationsurl}}">{{regulationsurl}}</a>
        </p>

        
        <p>Reservation Info: {{ reservationInfo }}</p>
        <p>Make a reservation: <a href="{{ reservationUrl }}" target="_blank">{{ reservationUrl }}</p></a>
        <br>
        <br>
        {{!REGULATIONS}}
        <p>Regulations: {{ regulationsOverview }}</p><br>
            {{!-- <p class="regulations">{{ regulationsurl }}"</p> --}}


    </div>
    <div class="col">
        {{!CONTACT}}

        <p>Phone: {{contacts.phoneNumbers[0].phoneNumber}}</p>
        <p>Email: <a href="mailto:{{contacts.emailAddresses[0].emailAddress}}">{{contacts.emailAddresses[1]}}</a>
        </p>
        <br>
        <br>
        {{!FEES}}
        <p>{{fees[0].title}} {{fees[0].cost}}: {{fees[0].description}}</p>

        <p>Phone: {{ contacts.phoneNumbers.[0].phoneNumber }}</p>
        <p>Email: <span><a href="mailto:{{contacts.emailAddresses.[0].emailAddress}}">{{ contacts.emailAddresses.[0].emailAddress}}</a></span></p>
        
        <br>
        <br>
        {{!FEES}}
        <p>Fees: {{fees.[0].title}} ${{fees.[0].cost}}: {{fees.[0].description}}</p>
         {{/each}} 

    </div>
</div>


{{!-- {{audioDescription}} --}}