{{!-- SECTION: USER CAMPS PAGE --}}
<style>
    .star {
        visibility: hidden;
        font-size: 24px;
        color: gold;
        cursor: pointer;
        outline-color: black;
    }

    .star:before {
        content: "\2606";
        visibility: visible;
        position: relative;
        right: 15px;
        top: 5px;
    }

    .star:checked:before {
        content: "\2605";
        position: relative;
        right: 15px;
        top: 5px;
    }

    #favStarEl {
        font-size: 12px;
        float: right;

    }

    #favStarText {
        font-size: 12px;
        float: left;

    }

    .row {
        margin: auto
    }

    .see-thru {
        background-color: rgba(0, 0, 0, 0.75);
    }

    #content-box {
        overflow: scroll;
        height: 80vh;
        scrollbar-color: black !important;
    }

    #comment-box {
        background-color: rgb(14, 88, 14);
        box-shadow: 0 0 5px 0px white;
    }

    #comment-element {
        background-color: rgba(0, 0, 0, 0.75);
        border-radius: var(--border-radius);
    }
</style>


<div class="row">

    <div id="userCamp-aside" class="col-2 text-white m-2 p-1 rounded see-thru">
        hello world
    </div>

    {{#each campData as |data|}}

    <div id="content-box" class="col text-white m-2 p-1 rounded see-thru">
        <div id="campsite-header" class="row">
            <div class="col-9">
                <h3>
                    <span id="camp-name">{{name}}</span>
                </h3>
            </div>

            <div id="favStarEl" class="col-3 d-flex justify-content-center">
                {{!-- FAVORITES BUTTON --}}
                <input id="favStar" class="star" type="checkbox" title="favStar">
                <div id="favStarText" class="align-self-center"><span><i>Add to Favorites</i></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{!MAIN PHOTO}}
                    {{#if images.[0].url}}
                    <img id="campsite-photo" class="img-fluid max-width: 100%" src="{{images.[0].url}}"
                        alt="{{images.[0].altText}}">
                    {{/if}}
                </div>
            </div>

            <div class="row mt-3">
                <div class="col border-bottom border-dark">
                    {{#if description}}
                    <p id="campsite-desc">{{ description }}</p>
                    {{/if}}
                </div>
            </div>

            <div class="row  mt-3">
                <div class="col">
                    {{!RESERVATIONS}}
                    {{#if reservationInfo}}
                    <p><strong>Reservation Info:</strong> {{ reservationInfo }}</p>
                    {{/if}}
                    {{#if reservationUrl}}
                    <p><strong>Make a reservation:</strong><a href="{{ reservationUrl }}" target="_blank"> <i>{{
                                reservationUrl }}</i></a></p>
                    {{/if}}
                    {{!REGULATIONS}}
                    {{#if regulationsOverview}}
                    <p><strong>Regulations:</strong> {{ regulationsOverview }}
                        {{/if}}
                        <br>
                        {{#if regulationsurl}}
                        <a href="{{ regulationsurl }}" target="_blank" class="regulations"> <i>{{ regulationsurl }}</i>
                        </a>
                        {{/if}}
                    </p>

                </div>

                <div class="col">
                    {{!CONTACT}}
                    {{#if contacts.phoneNumbers.[0].phoneNumber}}
                    <p><strong>Phone:</strong> {{ contacts.phoneNumbers.[0].phoneNumber }}</p>
                    {{/if}}
                    {{#if contacts.emailAddresses.[0].emailAddress}}
                    <p><strong>Email:</strong> <a
                            href="mailto:{{ contacts.emailAddresses.[0].emailAddress }}"><i>{{contacts.emailAddresses.[0].emailAddress}}</i></a>
                    </p>
                    {{/if}}
                    {{!FEES}}
                    {{#if fees.[0].title}}
                    <p><strong>{{fees.[0].title}}:</strong>{{/if}}{{#if fees.[0].cost}} ${{fees.[0].cost}}{{/if}}{{#if
                        fees.[0].description}} {{fees.[0].description}}</p>{{/if}}
                        {{/each}}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <details open id="comment-box" class="p-2 m-2 rounded">
                    <summary class="text-center" style="">
                        VIEW COMMENTS
                    </summary>
                    <br>
                    <div class="border-top border-dark p-2">
                    {{#each comments as |comment|}}
                    <p id="comment-element" style="p-3 m-2"> {{ comment.content }} </p>
                    {{/each}}
                    </div>
                </details>
            </div>
        </div>
    </div>
</div>



