<link rel='stylesheet' type='text/css' href='/css/userCamps.css' />

{{!-- SECTION: USER CAMPS PAGE --}}
{{!--FAVORITES ASIDE--}}
<div id="userCamp-aside" class="col-2 text-white my-2 p-1 rounded see-thru overflow-auto">
  <details id="favorite-box" class="p-2 m-2 rounded" open>
    <summary class="text-center">
      FAVORITES
    </summary>
    <br>
    <div class="border-top border-dark pt-3 overflow-auto favorite-wrapper">
      {{!--FAVORITE CARD--}}
      {{#each favorites as |favorite favoriteId|}}
      <a href="/api/campsites/{{ favorite.campsite_id }}" class="map-ahref">
        <div class="card" style="max-width: 100%; background-color: #b98f59;">
          <img class="card-img-top campsite-photo img-fluid max-width: 100%" src="{{favorite.campsite_img_url}}"
            alt="image of {{favorite.campsite.name}} site">
          <div class="card-body" style="color: white!important; textAlign: center; background-color: #b98f59;">
            <p class="card-text" style="font-size: 100%; background-color: #b98f59;">
              {{favorite.campsite.name}}</p>
          </div>
        </div>
      </a>
      {{/each}}
    </div>
  </details>
</div>
{{!--MAIN CONTENT BOX--}}
{{#each campData as |data|}}
<div id="content-box" class="col text-white rounded see-thru my-2 p-3" data-id={{id}} data-imgUrl={{images.[0].url}}>
  <div id="campsite-header" class="row">
    <div class="col-12 col-sm-9 camp-name-cont">
      <h3>
        <span id="camp-name">{{name}}</span>
      </h3>
    </div>
    {{/each}}
    {{!-- FAVORITES BUTTON --}}
    <div id="favStarEl" class="col-12 col-sm-3 d-flex justify-content-end">
      <img id='share-button' src="/images/share.png" alt="Share campground URL."
        style="height: 24px; width: 24px;  padding: 2px; background-color: #DEB887; margin: 12px 6px 10px 10px; border-radius: 3px; cursor: pointer;"
        title="Share campground">
      <img id='audio-button' src="/images/volume.png" alt="Listen to camp description."
        style="height: 24px; width: 24px; background-color: #DEB887; margin: 12px 25px 10px 10px; border-radius: 3px; cursor: pointer;"
        title="Audio description; 10 sec delay to click again">
      {{#if isFavorite }}
      <input id="check" class="star" type="checkbox" title="Favorite star" checked>
      {{else}}
      <input id="check" class="star" type="checkbox" title="Favorite star">
      {{/if}}
    </div>
    {{#each campData as |data|}}
    <div class="row">
      <div class="col-12">
        {{!MAIN PHOTO}}
        {{#if images.[0].url}}
        <img id="campsite-photo" class="img-fluid max-width: 100%" src="{{images.[0].url}}"
          alt="{{images.[0].altText}}">
        {{else}}
        <img id="campsite-photo" class="img-fluid max-width: 100%"
          src='https://via.placeholder.com/1100x500/b98f59/FFFFFF/?text=Go+Camping!' alt="No image available">
        {{/if}}
        <a id="nps-link" href="https://www.nps.gov/{{parkCode}}/planyourvisit/maps.htm" target="__blank"
          class="p-2 button">Visit NPS Page</a>
      </div>
    </div>
    {{!--CAMPSITE DESCRIPTION--}}
    <div class="row mt-3">
      <div class="col border-bottom border-dark">
        {{#if description}}
        <p id="campsite-desc">{{ description }}</p>
        {{/if}}
      </div>
    </div>
    <div class="row  mt-3 ">
      <div class="col-xl-6 col-10 body-text">
        {{!RESERVATIONS}}
        {{#if reservationInfo}}
        <p><strong>Reservation Info:</strong> {{ reservationInfo }}</p>
        {{/if}}
        {{#if reservationUrl}}
        <p><strong>Make a reservation:</strong><a href="{{ reservationUrl }}" target="_blank"> <i>{{
              reservationUrl }}</i></a></p>
        {{/if}}
        {{!REGULATIONS}}
        {{#if regulationsOverview}}
        <p><strong>Regulations:</strong> {{ regulationsOverview }}
          {{/if}}
          <br>
          {{#if regulationsurl}}
          <a href="{{ regulationsurl }}" target="_blank" class="regulations"> <i>{{ regulationsurl }}</i>
          </a>
          {{/if}}
        </p>
      </div>
      <div class="col-xl-6 col-10 body-text">
        {{!CONTACT}}
        {{#if contacts.phoneNumbers.[0].phoneNumber}}
        <p><strong>Phone:</strong> {{ format_phone contacts.phoneNumbers.[0].phoneNumber }}</p>
        {{/if}}

        {{#if contacts.emailAddresses.[0].emailAddress}}
        <p><strong>Email:</strong> <a
            href="mailto:{{ contacts.emailAddresses.[0].emailAddress }}"><i>{{contacts.emailAddresses.[0].emailAddress}}</i></a>
        </p>
        {{/if}}
        {{!FEES}}
        {{#if fees.[0].title}}
        <p><strong>{{fees.[0].title}}:</strong>{{/if}}{{#if fees.[0].cost}} ${{fees.[0].cost}}
          {{/if}}
          {{#if fees.[0].description}}
        <p>{{fees.[0].description}}</p>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>
{{!--COMMENTS BOX--}}
  <div class="row">
    <div id="comment-box-cont" class="col">
      <details id="comment-box" class="p-2 m-2 rounded">
        <summary class="text-center">
          COMMENTS
        </summary>
        <br>
        <div class="border-top border-dark p-2">
          {{#each comments as |comment|}}
          <p id="comment-element" style="p-3 m-2">
            Posted by: {{ comment.user.username }} <br>
            On: {{ format_date comment.createdAt }} <br>
            {{ comment.content }}
          </p>
          <p id="comment-element" style="p-3 m-2"> </p>
          {{/each}}
        </div>
      </details>
    </div>
  </div>

  {{!-- {{> validation-modal }} --}}
  {{> share-modal }}
  
</div>

<script src="/js/share-modal.js"></script>
<script src="/js/favorite.js"></script>
<script src="/js/playDescription.js"></script>
<script src="/js/shareCamp.js"></script>
<script src="/js/openDetails.js"></script>