{{!-- SECTION: USER CAMPS PAGE --}}
<style>

    .star {
        visibility: hidden;
        font-size: 24px;
        color: gold;
        cursor: pointer;
        outline-color: black;
    }

    .star:before {
        content: "\2606";
        visibility: visible;
        position: relative;
        right: 15px;
        top: 5px;
    }

    .star:checked:before {
        content: "\2605";
        position: relative;
        right: 15px;
        top: 5px;
    }

    #favStarEl {
        font-size: 12px;
        {{!-- float: right; --}}
    }

    #favStarText {
        font-size: 12px;
        {{!-- float: left; --}}
        
    }

    .row {
        margin: auto
    }

    .see-thru {
        background-color: rgba(0, 0, 0, 0.75);
    }

</style>


<div class="row">

    <div id="userCamp-aside" class="col-2 text-white m-2 p-1 rounded see-thru">
        hello world
    </div>

    {{#each campData as |data|}}

    <div class="col text-white m-2 p-1 rounded see-thru">
        <div id="campsite-header" class="row">
            <div class="col-9">
                <h3>
                    <span id="camp-name">{{name}}</span>
                </h3>
            </div>

            <div id="favStarEl" class="col-3 d-flex justify-content-center">
                {{!-- FAVORITES BUTTON --}}
                <input id="favStar" class="star" type="checkbox" title="favStar">
                <div id="favStarText" class="align-self-center"><span><i>Add to Favorites</i></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    {{!MAIN PHOTO}}
                    <img id="campsite-photo" class="img-fluid max-width: 100%" src="{{images.[0].url}}"
                        alt="{{images.[0].altText}}">
                </div>
            </div>

            <div class="row mt-3">
                <div class="col border-bottom border-dark">
                    <p id="campsite-desc">{{ description }}</p>
                </div>
            </div>

            <div class="row  mt-3">
                <div class="col">
                    {{!RESERVATIONS}}
                    <p><strong>Reservation Info:</strong> {{ reservationInfo }}</p>
                    <p><strong>Make a reservation:</strong><a href="{{ reservationUrl }}" target="_blank"> <i>{{
                                reservationUrl }}</i></a></p>
                    {{!REGULATIONS}}
                    <p><strong>Regulations:</strong> {{ regulationsOverview }} <br><a href="{{ regulationsurl }}"
                            class="regulations"> <i>{{ regulationsurl }}</i></a></p>
                </div>

                <div class="col">
                    {{!CONTACT}}
                    <p><strong>Phone:</strong> {{ contacts.phoneNumbers.[0].phoneNumber }}</p>
                    <p><strong>Email:</strong> <a
                            href="mailto:{{ contacts.emailAddresses.[0].emailAddress }}"><i>{{contacts.emailAddresses.[0].emailAddress}}</i></a>
                    </p>
                    {{!FEES}}
                    <p><strong>{{fees.[0].title}}:</strong> ${{fees.[0].cost}} {{fees.[0].description}}</p>
                </div>
            </div>
        </div>
    </div>
    
    {{/each}}

{{#each comments as |comment|}}

<p style="color: white"> COMMENTS {{ comment.content }} </p>

{{/each}}

</div>

